h1{
    color: blue;
}
li {
    color: rgb(48, 48, 158);
}
p{
    color: lightgrey;
    color: black;
}
hr{
    color: lightgreen;
}
body{
    align-items: center;
}
.main-pg ul{
    display: flex;
    
}
.main-pg ul li{
    /* margin: 5px auto; */
    padding: 10px;
    a{
        text-decoration: none;
    }
    list-style: none;

    a:hover{
    color: #da1435;
}
    
}